<div class="toggle-cont" id="supa-de-hoje">
    <div class="toggles">
        <div class="jtoggle" id="jtoggle">« Anteontem</div>
        <div class="ytoggle" id="ytoggle">Ontem</div>
        <div class="ltoggle active_toggle" id="ltoggle">⁕ Hoje ⁕</div>
        <div class="ktoggle" id="ktoggle">Amanhã »</div>
    </div>
</div>

<!-- juzi -->
<div class="tble-cont ficha" id="jday" style="display: none;">
    <div class="table-head">
        <h2>
            <span style="display: block;">⭐⭐⭐ Over 1.5 Tips | Anteontem ⭐⭐⭐</span>
            <span class="spn_trh"><b><%= jumasiku.juzi %>: </b><%= trh.juzi %></span>
        </h2>
    </div>
    <table class="table table-dark table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Matches</th>
                <th class="tips-th" scope="col">Tips</th>
                <th scope="col">Results</th>
            </tr>
        </thead>
        <tbody>
            <% jtips.forEach(el=> { %>
            <tr>
                <td class="match-td">
                    <span class="league"><%= el.league %></span> <br>
                    <%- el.match.replace(/ - /g, '<br>' ) %>
                </td>
                <th class="tip-td" style="color: gold;"><%= el.tip %></th>
                <td class="matokeo-td"><%= el.matokeo %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <%- include('../../0-global/aff.ejs'); %>
</div>

<!-- yesterday -->
<div class="tble-cont ficha" id="yday" style="display: none;">
    <div class="table-head">
        <h2>
            <span style="display: block;">⭐⭐⭐ Over 1.5 Tips | Ontem ⭐⭐⭐</span>
            <span class="spn_trh"><b><%= jumasiku.jana %>: </b><%= trh.jana %></span>
        </h2>
    </div>
    <table class="table table-dark table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Matches</th>
                <th class="tips-th" scope="col">Tips</th>
                <th scope="col">Results</th>
            </tr>
        </thead>
        <tbody>
            <% ytips.forEach(el=> { %>
            <tr>
                <td class="match-td">
                    <span class="league"><%= el.league %></span> <br>
                    <%- el.match.replace(/ - /g, '<br>' ) %>
                </td>
                <th class="tip-td" style="color: gold;"><%= el.tip %></th>
                <td class="matokeo-td"><%= el.matokeo %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <%- include('../../0-global/aff.ejs'); %>
</div>


<!-- today -->
<div class="tble-cont" id="lday">
    <div class="table-head">
        <h2>
            <span style="display: block;">⭐⭐⭐ Over 1.5 Tips | Hoje ⭐⭐⭐</span>
            <span class="spn_trh" id="trh_l"><b><%= jumasiku.leo %>: </b><%= trh.leo %></span>
        </h2>
    </div>
    <table class="table table-dark table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Matches</th>
                <th class="tips-th" scope="col">Tips</th>
            </tr>
        </thead>
        <tbody>
            <% stips.forEach(el=> { %>
            <tr>
                <td class=" time-td">
                    <time>
                        <%= el.time %> <br> <span><%= el.siku %></span>
                    </time>
                </td>
                <td class="match-td">
                    <!-- include schemas -->
                    <meta itemprop="name" content="<%= el.match.split(' - ')[0] %> vs <%= el.match.split(' - ')[1] %> Tips">
                    <meta itemprop="description"
                        content="Over 1.5 Tips | <%= el.match.split(' - ')[0] %> vs <%= el.match.split(' - ')[1] %>">
                    <meta itemprop="performer" content="<%= el.match.split(' - ')[0] %> vs <%= el.match.split(' - ')[1] %>">
                    <span class="league" itemprop="location"><%= el.league %></span>
                    <br>
                    <span class="home" itemprop="homeTeam">
                        <%= el.match.split(' - ')[0] %>
                    </span>
                    <br>
                    <span class="away" itemprop="awayTeam">
                        <%= el.match.split(' - ')[1] %>
                    </span>
                </td>
                <th class="tip-td" style="color: gold;"><%= el.tip %></th>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% if (stips.length === 0) { %>
        <div class="zakesho" id="zakesho">
            * Tips para <b><%= jumasiku.leo %></b> em análise. Volte em breve para acessar nossos prognósticos verificados.
        </div>
    <% } %>
    <% if (stips.length > 0) { %>
        <%- include('../../0-global/aff.ejs'); %>
    <% } %>
</div>


<!-- tomorrow -->
<div class="tble-cont ficha" id="kday" style="display: none;">
    <div class="table-head">
        <h2>
            <span style="display: block;">⭐⭐⭐ Over 1.5 Tips | Amanhã ⭐⭐⭐</span>
            <span class="spn_trh"><b><%= jumasiku.kesho %>: </b><%= trh.kesho %></span>
        </h2>
    </div>
    <table class="table table-dark table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Matches</th>
                <th class="tips-th" scope="col">Tips</th>
            </tr>
        </thead>
        <tbody>
            <% ktips.forEach(el=> { %>
            <tr>
                <td class="time-td">
                    <time>
                        <%= el.time %> <br> <span><%= el.siku %></span>
                    </time>
                </td>
                <td class="match-td">
                    <!-- include schemas -->
                    <meta itemprop="name" content="<%= el.match.split(' - ')[0] %> vs <%= el.match.split(' - ')[1] %> Tips">
                    <meta itemprop="description"
                        content="Over 1.5 Tips | <%= el.match.split(' - ')[0] %> vs <%= el.match.split(' - ')[1] %>">
                    <meta itemprop="performer" content="<%= el.match.split(' - ')[0] %> vs <%= el.match.split(' - ')[1] %>">
                    <span class="league" itemprop="location"><%= el.league %></span>
                    <br>
                    <span class="home" itemprop="homeTeam">
                        <%= el.match.split(' - ')[0] %>
                    </span>
                    <br>
                    <span class="away" itemprop="awayTeam">
                        <%= el.match.split(' - ')[1] %>
                    </span>
                </td>
                <th class="tip-td" style="color: gold;"><%= el.tip %></th>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% if (ktips.length === 0) { %>
        <div class="zakesho" id="zakesho">
            * Tips para <b><%= jumasiku.kesho %></b> em análise. Volte em breve para acessar nossos prognósticos verificados.
        </div>
    <% } %>
    <% if (ktips.length > 0) { %>
        <%- include('../../0-global/aff.ejs'); %>
    <% } %>
</div>


<script>
    let yday_cont = document.getElementById('yday')
    let lday_cont = document.getElementById('lday')
    let kday_cont = document.getElementById('kday')
    let jday_cont = document.getElementById('jday')

    let ytoggle = document.getElementById('ytoggle')
    let ltoggle = document.getElementById('ltoggle')
    let ktoggle = document.getElementById('ktoggle')
    let jtoggle = document.getElementById('jtoggle')


    ytoggle.addEventListener('click', () => {
        ytoggle.classList.add('active_toggle')
        ltoggle.classList.remove('active_toggle')
        ktoggle.classList.remove('active_toggle')
        jtoggle.classList.remove('active_toggle')

        yday_cont.style.display = 'block'
        lday_cont.style.display = 'none'
        kday_cont.style.display = 'none'
        jday_cont.style.display = 'none'
    })

    ltoggle.addEventListener('click', () => {
        ltoggle.classList.add('active_toggle')
        ytoggle.classList.remove('active_toggle')
        ktoggle.classList.remove('active_toggle')
        jtoggle.classList.remove('active_toggle')

        lday_cont.style.display = 'block'
        yday_cont.style.display = 'none'
        kday_cont.style.display = 'none'
        jday_cont.style.display = 'none'
    })

    jtoggle.addEventListener('click', () => {
        jtoggle.classList.add('active_toggle')
        ytoggle.classList.remove('active_toggle')
        ktoggle.classList.remove('active_toggle')
        ltoggle.classList.remove('active_toggle')

        jday_cont.style.display = 'block'
        yday_cont.style.display = 'none'
        kday_cont.style.display = 'none'
        lday_cont.style.display = 'none'
    })

    ktoggle.addEventListener('click', () => {
        ktoggle.classList.add('active_toggle')
        ytoggle.classList.remove('active_toggle')
        ltoggle.classList.remove('active_toggle')
        jtoggle.classList.remove('active_toggle')

        kday_cont.style.display = 'block'
        lday_cont.style.display = 'none'
        yday_cont.style.display = 'none'
        jday_cont.style.display = 'none'
    })
</script>