<div class="toggle-cont" id="supa-de-hoje">
    <div class="toggles">
        <div class="jtoggle" id="jtoggle">« Anteontem</div>
        <div class="ytoggle" id="ytoggle">Ontem</div>
        <div class="ltoggle active_toggle" id="ltoggle">⁕ Hoje ⁕</div>
        <div class="ktoggle" id="ktoggle">Amanhã »</div>
    </div>
</div>

<!-- juzi -->
<div class="tble-cont ficha" id="jday" style="display: none;">
    <div class="table-head">
        <h2>
            <span style="display: block;">⭐⭐ MixBet Tips de Anteontem ⭐⭐</span>
            <span class="spn_trh"><b><%= jumasiku.juzi %>: </b><%= trh.juzi %></span>
        </h2>
    </div>
    <table class="table table-dark table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Hora</th>
                <th scope="col">Jogos</th>
                <th class="tips-th" scope="col">Tips</th>
            </tr>
        </thead>
        <tbody>
            <% jtips.forEach(el=> { %>
            <tr>
                <td class="time-td">
                    <%= el.time %> <br> <span><%= el.siku %></span>
                </td>
                <td class="match-td">
                    <span class="league"><%= el.league %></span> <br>
                    <%- el.match.replace(/ - /g, '<br>' ) %>
                </td>
                <th class="tip-td" style="color: gold;"><%= el.tip %></th>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% if (jtips.length > 0) { %>
    <%- include('../../0-global/aff.ejs'); %>
    <% } %>
</div>

<!-- yesterday -->
<div class="tble-cont ficha" id="yday" style="display: none;">
    <div class="table-head">
        <h2>
            <span style="display: block;">⭐⭐ MixBet Tips de Ontem ⭐⭐</span>
            <span class="spn_trh"><b><%= jumasiku.jana %>: </b><%= trh.jana %></span>
        </h2>
    </div>
    <table class="table table-dark table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Hora</th>
                <th scope="col">Jogos</th>
                <th class="tips-th" scope="col">Tips</th>
            </tr>
        </thead>
        <tbody>
            <% ytips.forEach(el=> { %>
            <tr>
                <td class="time-td">
                    <%= el.time %> <br> <span><%= el.siku %></span>
                </td>
                <td class="match-td">
                    <span class="league"><%= el.league %></span> <br>
                    <%- el.match.replace(/ - /g, '<br>' ) %>
                </td>
                <th class="tip-td" style="color: gold;"><%= el.tip %></th>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% if (ytips.length > 0) { %>
    <%- include('../../0-global/aff.ejs'); %>
    <% } %>
</div>


<!-- today -->
<div class="tble-cont" id="lday">
    <div class="table-head">
        <h2>
            <span style="display: block;">⭐⭐ MixBet Tips de Hoje ⭐⭐</span>
            <span class="spn_trh"><b><%= jumasiku.leo %>: </b><%= trh.leo %></span>
        </h2>
    </div>
    <table class="table table-dark table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Hora</th>
                <th scope="col">Jogos</th>
                <th class="tips-th" scope="col">Tips</th>
            </tr>
        </thead>
        <tbody>
            <% stips.forEach(el=> { %>
            <tr itemscope>
                <td class=" time-td">
                    <time>
                        <%= el.time %> <br> <span><%= el.siku %></span>
                    </time>
                </td>
                <td class="match-td">
                    <span class="league"><%= el.league %></span>
                    <br>
                    <span class="home">
                        <%= el.match.split(' - ')[0] %>
                    </span>
                    <br>
                    <span class="away">
                        <%= el.match.split(' - ')[1] %>
                    </span>
                </td>
                <th class="tip-td" style="color: gold;"><%= el.tip %></th>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% if (stips.length === 0) { %>
        <div class="zakesho">
            * MixBet Tips de hoje em preparação. Deslize para baixo para tips disponíveis.
        </div>
        <% } %>
    <% if (stips.length > 0) { %>
    <%- include('../../0-global/aff.ejs'); %>
    <% } %>
</div>


<!-- tomorrow -->
<div class="tble-cont ficha" id="kday" style="display: none;">
    <div class="table-head">
        <h2>
            <span style="display: block;">⭐⭐ MixBet Tips de Amanhã ⭐⭐</span>
            <span class="spn_trh"><b><%= jumasiku.kesho %>: </b><%= trh.kesho %></span>
        </h2>
    </div>
    <table class="table table-dark table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Hora</th>
                <th scope="col">Jogos</th>
                <th class="tips-th" scope="col">Tips</th>
            </tr>
        </thead>
        <tbody>
            <% ktips.forEach(el=> { %>
            <tr itemscope>
                <td class="time-td">
                    <time>
                        <%= el.time %> <br> <span><%= el.siku %></span>
                    </time>
                </td>
                <td class="match-td">
                    <span class="league"><%= el.league %></span>
                    <br>
                    <span class="home" itemprop="homeTeam">
                        <%= el.match.split(' - ')[0] %>
                    </span>
                    <br>
                    <span class="away" itemprop="awayTeam">
                        <%= el.match.split(' - ')[1] %>
                    </span>
                </td>
                <th class="tip-td" style="color: gold;"><%= el.tip %></th>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% if (ktips.length === 0) { %>
    <div class="zakesho">
        * MixBet Tips de amanhã em preparação. Deslize para baixo para tips disponíveis.
    </div>
    <% } %>
    <% if (ktips.length > 0) { %>
    <%- include('../../0-global/aff.ejs'); %>
    <% } %>
</div>